nav{
    background-color: darkblue;
    padding: 10px;
}
nav a{
    color:white;
    display:block;
    padding: 20px;
}
h1 {
    color:blueviolet;
}

main img{
    width:150px;
    height:auto;
    border:1px solid black;
    padding:2px;
    box-shadow: 0 0 30 px gray 0;
}

p{
    padding:10px;
}
aside{
    width:20rem;
    margin:1rem;
    border:1px solid rgna(0,0,0.2);
    padding:1rem;
    background-color: #eee rgba(255,250,253,3);
    color: #333;
    text-align:center;
}
aside img{
    width:200px;
    height:auto;
}
aside p{
    display: block;
    padding:0;
}

footer{margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}